<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form id="form" action="/echo" method="post">
        <length-display-textarea name="hello" maxlength="5">hello</length-display-textarea>

    </form>
    <button id="submit">submit</button>
    text
    1234
    <script type="module" src="./js/sample5.js">

    </script>
    <script type="module">
        import("./js/string-length.js").then(module=>{
            var {getCharLength} = module;
            console.log(getCharLength("123"));
        });
    </script>
    <script>
        document.querySelector("#submit").addEventListener("click", function() {
            var form =   document.getElementById("form");
            if (form.checkValidity()) {
                form.submit();
            }
        });
    </script>
</body>
</html>